<div class="card-list-container py-5">
  <div clss ="main-container">
<div class="ccard w-50 mx-auto mt-4 shadow-lg">
<%= form_with url: public_ramens_path, method: :get do |f| %>
 <%= f.select :genre, options_for_select([["豚骨", "豚骨"],["みそ","みそ"],["醤油","醤油"],["塩","塩"],["二郎系","二郎系"],["家系","家系"],["牛骨","牛骨"],["つけ麺","つけ麺"],["中華系","中華系"]]) %>
 <%= f.submit "検索", class:"btn-info" %>
<% end %>
</div>
  <% @ramens.each do |ramen| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to public_ramen_path(ramen.id) do %>
      <%= image_tag ramen.get_image,   class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">

          <%= image_tag ramen.user.get_image, size: "60x60"   %>

        <div class="col-10">
          <p class="card-title">
            <%= link_to(public_ramen_path(ramen.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= ramen.name %></span></strong>
            <% end %>
          </p>

          <span><i class="fas fa-user"></i> By <%= ramen.user.name %>｜ </span>
          <span><%= link_to "#{ramen.post_comments.count} コメント", public_ramen_path(ramen.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>

  <% end %>

</div>
</div>