
<h1>新規投稿</h1>
<%= form_with model: @ramen, url: public_ramens_path do |f| %>
 <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>店名</h4>
  <%= f.text_field :name %>

  <h4>紹介文</h4>
  <%= f.text_area :introduction %>
  <h4>住所</h4>
  <%= f.text_field :address %>
  <h4>ジャンル</h4>
  <%= form.label :genre %>
  <%= form.select :genre, ['豚骨', 'みそ', '醤油','塩','二郎系','家系','牛骨','つけ麺','中華系','豚骨醤油'], {include_blank: '---'} %>

  <%= f.submit '投稿' %>
<% end %>