
<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= image_tag @ramen.get_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
           <%= image_tag @ramen.user.get_image, size: "60x60"   %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(public_ramen_path(@ramen.id), class:"text-dark") do %>
               <strong><i class="far fa-flag"></i><span> <%= @ramen.name %></span></strong>
                 <% end %>
          </p>
          <p class="card-title">説明：<%= @ramen.introduction %></p>
           <p class="card-title">住所：<%= @ramen.address %></p>
            <p class="card-title">ジャンル：<%= @ramen.genre %></p>
          <span><i class="fas fa-user"></i> By <%= link_to(public_user_path(@ramen.user.id), class:"text-dark") do %>
                                                 <%= @ramen.user.name %>｜ </span>
                                                 <% end %>
          <span><i class="fa fa-calendar"></i> <%= @ramen.created_at.strftime('%Y/%m/%d') %> ｜ </span>
          <span><i class="fa fa-comment"></i> <%= link_to "#{@ramen.post_comments.count}", public_ramen_path(@ramen.id), class:"text-dark" %> ｜ </span>

          <% if user_signed_in? && current_user.id == @ramen.user_id %>
            <span> <%= link_to"編集",edit_public_ramen_path(@ramen.id), class:"btn btn-success"%>｜</span> <%= link_to"削除",public_ramen_path(@ramen.id), method: :delete,"data-confirm"=>"Are you sure?",class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="comments card-text">
        <h4 class="mt-3"><%= @ramen.post_comments.count %>件コメント</h4>
        <% @ramen.post_comments.each do |post_comment| %>
          <div class="media border mb-3">
            <%= image_tag post_comment.user.get_image, size: "60x60", class:"bd-placeholder-img align-self-center mx-3";  %>
            <div class="media-body ml-4 p-3">
              <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
              <p><%= post_comment.comment %></p>
              <% if post_comment.user == current_user %>
                <%= link_to "削除", public_ramen_post_comment_path(post_comment.ramen, post_comment), method: :delete,"data-confirm"=>"Are you sure?", class: "btn btn-danger pull-right" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="new-comment card-text">
        <%= form_with model: [@ramen, @post_comment], url: public_ramen_post_comments_path(@ramen) do |f| %>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">コメントする</label>
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
          </div>
          <%= f.submit "送信する", class:"btn btn-lg btn-info mt-2 float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>