
<%= image_tag @ramen.get_image, size: "200x200" %>
     <p>ユーザー名</p>
     <p> <%=  link_to @ramen.user.name,public_user_path %></p>
     <p>店舗名</p>
      <p><%= @ramen.name %></p>
      <p>紹介文</p>
      <p><%= @ramen.introduction %></p>
      <p>住所</p>
      <p><%= @ramen.address %></p>
        <% if user_signed_in? && current_user.id == @ramen.user_id %>
      <%= link_to"Edit",edit_public_ramen_path(@ramen.id), class:"btn btn-success"%></td>
      <%= link_to"Destroy",public_ramen_path(@ramen.id), method: :delete,"data-confirm"=>"Are you sure?",class:"btn btn-danger" %>
  <% end %>