<%= image_tag @ramen.get_image, size: "200x200" %>
     <p>ユーザー名</p>
     <p> <%= @ramen.user.name%></p>
     <p>店舗名</p>
      <p><%= @ramen.name %></p>
      <p>紹介文</p>
      <p><%= @ramen.introduction %></p>
      <p>住所</p>
      <p><%= @ramen.address %></p>

      <%= link_to"コメント削除",edit_admin_ramen_path(@ramen.id), class:"btn btn-success"%></td>
      <%= link_to"全削除", admin_destroy_all_ramens_path(@ramen.id), method: :delete,"data-confirm"=>"Are you sure?",class:"btn btn-danger" %>
