<h1>Public::Users#edit</h1>
<p>Find me in app/views/public/users/edit.html.erb</p>
<h1>Editing user</h1>


<%= form_with model: @user, url: public_user_path(@user.id) do |f|  %>
<h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
<h4>名前</h4>
<%= f.text_field :name %>
<h4>プロフィール</h4>
  <%= f.text_area :introduction %>


<%= f.submit 'Update ', class: " btn btn-secondary" %>

<% end %>
<%= link_to "Show",public_user_path(@user.id) %>
 |
 <%= link_to '退会する', public_users_quit_path, class:'btn btn-primary ml-5' %>