
<script src="https://kit.fontawesome.com/5426e91a66.js" crossorigin="anonymous"></script>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">プロフィール編集</h5>
      <div class="form-body p-4">
        <%= form_with model: @user, url: public_user_path(@user.id) do |f|  %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前"%>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-address-card"></i></span>
            </div>
            <%= f.text_area :introduction, class:"form-control", id:"inputName", placeholder:"プロフィール"%>
          </div>
          <div class="input-group my-3">
            <label>
            <%= f.file_field :image, placeholder: "プロフィール画像", class: "w-100" %>
            </label>
          </div>
          <%= link_to "Show",public_user_path(@user.id),class:'btn btn-primary '%> | <%= link_to '退会する', public_users_quit_path, class:'btn btn-danger' %>
          <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

