
<div class="col-md-3" >
        <h2>Users info</h2>


             <table class='table table-hover table-inverse'>
               <tr>
                  <%= image_tag @user.get_image, size: "200x200" %>
                 <th>name</th><th><%=@user.name %></th>
                </tr>
                   <tr>
                       <th>introduction</th><th><%= @user.introduction %></th>
                    </tr>
                    <% if user_signed_in? && current_user.id == @user.id %>
                    <%= link_to"Edit",edit_public_user_path(@user.id), class:"btn btn-success"%></td>
                     <% end %>

             </table>
              <% @ramens.each do |ramen| %>
                   <%= image_tag ramen.get_image, size: "200x200" %>
                   <p>店名</p>
                    <span><%=  ramen.name%></span>

                    <p>ユーザーネーム：<%= ramen.user.name %></p>
                    <p><%= link_to "#{ramen.post_comments.count} コメント",  public_ramen_path(ramen.id) %></p>

              <% end %>



