
<div class="col-md-3" >
        <h2>Users info</h2>


             <table class='table table-hover table-inverse'>
               <tr>
                  <%= image_tag @user.get_image, size: "200x200" %>
                 <th>name</th><th><%=@user.name %></th>
                </tr>
                   <tr>
                       <th>introduction</th><th><%= @user.introduction %></th>
                    </tr>
                    <% if user_signed_in? && current_user.id == @user.id %>
                    <%= link_to"Edit",edit_public_user_path(@user.id), class:"btn btn-success"%></td>
                     <% end %>
                     <%= link_to "投稿一覧", public_users_path %>
             </table>

