<div class="container">
  <div class="row">
      <div class="col-lg-4">
        <h2>Users info</h2>
          <tb><%= image_tag @user.get_image, size: "200x200" %></tb>

             <table class='table table-hover table-inverse'>
               <tr>
                 <th>name</th><th><%=@user.name %></th>
                </tr>
                   <tr>
                       <th>introduction</th><th><%= @user.introduction%></th>
                    </tr>
              </table>
                        <div class="row">
                         <%= link_to edit_public_user_path(@user.id), class: "btn btn-light btn-outline-secondary btn-block" do %>
                            <i class="fas fa-user-cog"></i>

                               <% end %>
                        </div>
                         </div>

            <div class="col-lg-8">
              <% @ramens.each do |ramen| %>
              <div class="card w-50 mx-auto mt-4 shadow-lg">
                <%= link_to public_ramen_path(ramen.id) do %>
                  <%= image_tag ramen.get_image,   class:"card-img-top"; %>
                <% end %>
                <div class="card-body">
                  <div class="row">

                    <div class="col-10">
                      <p class="card-title">
                        <%= link_to(public_ramen_path(ramen.id), class:"text-dark") do %>
                          <strong><i class="far fa-flag"></i><span> <%= ramen.name %></span></strong>
                        <% end %>
                      </p>
                      <span><i class="fas fa-user"></i> By <%= ramen.user.name %> ｜ </span>
                      <span><%= link_to "#{ramen.post_comments.count} コメント", public_ramen_path(ramen.id), class:"text-dark" %></span>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <%= paginate @ramens %>
            </div>
            </div>
        </div>
